.Robot {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Led {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: left;
}

.Led-title {
    margin: 0 0 -1px 3px;
}

.Motor {
    height: 160px;
    width: 160px;
    position: relative;
    margin: 30px;
    margin-top: 110px;

}
.Forward {
    background-color: #009dc5;
    height: 60px;
    width: 40px;
    border-radius: 10px 10px 40px 40px;
    position: absolute;
    top: 0;
    right: 50%;
    left: 50%;
    margin-right: -20px;
    margin-left: -20px;
}

.Reverse {
    background-color: #009dc5;
    height: 60px;
    width: 40px;
    border-radius: 40px 40px 10px 10px;
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    margin-right: -20px;
    margin-left: -20px;
}

.Left {
    background-color: #009dc5;
    height: 40px;
    width: 60px;
    border-radius: 10px 40px 40px 10px;
    position: absolute;
    bottom: 50%;
    top: 50%;
    left: 0;
    margin-top: -20px;
    margin-bottom: -20px;
}

.Right {
    background-color: #009dc5;
    height: 40px;
    width: 60px;
    border-radius: 40px 10px 10px 40px;
    position: absolute;
    bottom: 50%;
    top: 50%;
    right: 0;
    margin-top: -20px;
    margin-bottom: -20px;
}

.Camera-left {
    background-color: #009dc5;
    height: 40px;
    width: 50px;
    border-radius: 10px 40px 40px 10px;
    position: absolute;
    bottom: 50%;
    top: 50%;
    left: 0;
    margin-top: -20px;
    margin-bottom: -20px;
}

.Camera-right {
    background-color: #009dc5;
    height: 40px;
    width: 50px;
    border-radius: 40px 10px 10px 40px;
    position: absolute;
    bottom: 50%;
    top: 50%;
    right: 0;
    margin-top: -20px;
    margin-bottom: -20px;
}

.Camera-center {
    background-color: #009dc5;
    height: 40px;
    width: 40px;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.Stream {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.Controller {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}